* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header {
    background-color: white;
}

.main_content {
    background-color: #d4e3ea;
}

.link {
    font-size: 1.5rem;
}

.link_1 {
    font-size: 1.2rem;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr;
    grid-row: 1/3;
    background-color: #107fd0;
    padding-left: 20px;
    padding-top: 30px;
    gap: 30px;
}

.first_part {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 8px;
}

.second_part {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
}

.nav_box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 8px;
}

.third_part {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.search {
    width: 95%;
    height: 25px;
    background-color: #d4e3ea;
    border-radius: 25px;
    border-style: none;
    padding-left: 10px;
}

.image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 2.5fr;
    align-items: center;
    padding: 15px 0px 10px 20px;
}

.header_right {
    display: grid;
    grid-template-columns: .3fr .4fr 1fr;
    align-items: center;
    width: 250px;
    justify-items: end;
    margin-left: 100px;
}

.name {
    font-weight: 600;
}

.header_left {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    width: 400px;
    
}

.image_1 {
    grid-row: span 2;
    padding-right: 15px;
}

.small_text {
    font-size: .8rem;
    margin-bottom: -15px;
    font-weight: 700;
}


.bigger_text {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
  
}

.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin-left: 100px;
    margin-top: 15px;
}


.button {
    border-radius: 100px;
    background-color: #107fd0;
    color: white;
    padding: 5px 6px 7px 6px;
    width: 78px;
    border: 1px solid #107fd0;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    transition: .5s ease;
    cursor: pointer;
}

.main_content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.left_part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    height: 100%;
}

.main_title {
    grid-column: span 2;
    font-weight: 700;
}

.card {
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #204994;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    padding-bottom: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.text h4 {
    font-size: .9rem;
    margin-bottom: 1px;
}

.card_text {
    font-size: 14px;
}

.box_icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
    font-weight: 500;    
}



.right_part {
    display: grid;
    grid-template-rows: .1fr 4fr .1fr 3fr;
    margin-left: 5px;
    margin-right: 20px;
    height: 100%;
}




.card_right_1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 15px 20px 15px;
    height: 80%;
    margin-top: 14px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcement {
    font-size: .8rem;
    font-weight: 400;
    padding: 15px 5px;
}

.bb {
    border-bottom: 1px solid grey;
}

.card_right_2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
    padding: 13px 15px;
    height: 84%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trending_box {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.user-avatar-small {
    width: 35px;
}

.trending_box_text {
    margin-left: 10px;
}

.username {
    font-size: .8rem;
    margin: 0;
    font-weight: 700;
    padding: 0;
}

.appname {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    color: grey;
}